body {
  background-color: #282c34;
  color: white;
}

.center {
  text-align: center;
}

.page-title {
  font-size: 50px;
  text-transform: uppercase;
}

.page-subtitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-size: 18px;
}
